include ../bemto/bemto.pug
include ../_screens/main_screen.pug
include ../_partials/card.pug


general-page
    each val in dataJSON
        +card(val.title, val.day)
style
    include ../../build/css/all_style.css

script
    include ../../build/js/all_js.js