include bemto/bemto.pug
include _partials/card.pug

//- include partials

//- general




doctype html
html
	head
		link(rel="shortcut icon" href="img/fav.png" type="image/png")
		title Blue Chip
		
		//- include style.css
		link(rel="stylesheet" type="text/css" href="css/all_style.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		+b.advent 
			+b.banner 
			+b.cards-container 
			+b#slider.slider
				+b.wrapper
					+b.slides#slides
						each item in dataJSON
							+card(item.title, item.day, item.type)
				+b.A#prev.control.prev
				+b.A#next.control.next

		//- .general-page
		//- 	#slider.controls
		//- 		.controls-wrapper
		//- 			#slides.controls-container
		//- 				.btn-radio.card-dark
		//- 					input#cashback.radio-button.radio-input(type='radio' name='color' value='cashback')
		//- 					label.controls-label(for='ipl')
		//- 						img.radio-picture(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/icon-1.svg')
		//- 						p.radio-text IPL Cashback Offer
		//- 						p.radio-text-button
		//- 							span.radio-text-button-show Show More
		//- 							img.radio-text-button-arrow(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/arrow-right.svg')
		//- 				.btn-radio.card-dark
		//- 					input#schedule.radio-button.radio-input(type='radio' name='color' value='schedule')
		//- 					label.controls-label(for='ipl')
		//- 						img.radio-picture(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/icon-2.svg')
		//- 						p.radio-text IPL Schedule
		//- 						p.radio-text-button
		//- 							span.radio-text-button-show Show More
		//- 							img.radio-text-button-arrow(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/arrow-right.svg')
		//- 				.btn-radio.card-dark
		//- 					input#battle.radio-button.radio-input(type='radio' name='color' value='battle')
		//- 					label.controls-label(for='ipl')
		//- 						img.radio-picture(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/icon-3.svg')
		//- 						p.radio-text Big IPL Battle Tournament
		//- 						p.radio-text-button
		//- 							span.radio-text-button-show Show More
		//- 							img.radio-text-button-arrow(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/arrow-right.svg')
		//- 				.btn-radio.card-dark
		//- 					input#promocodes.radio-button.radio-input(type='radio' name='color' value='promocodes')
		//- 					label.controls-label(for='ipl')
		//- 						img.radio-picture(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/icon-4.svg')
		//- 						p.radio-text IPL Promo Codes for Free Bet
		//- 						p.radio-text-button
		//- 							span.radio-text-button-show Show More
		//- 							img.radio-text-button-arrow(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/arrow-right.svg')
		//- 				.btn-radio.card-dark
		//- 					input#terms.radio-button.radio-input(type='radio' name='color' value='terms')
		//- 					label.controls-label(for='ipl')
		//- 						img.radio-picture(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/icon-5.svg')
		//- 						p.radio-text IPL Teams and Captains
		//- 						p.radio-text-button
		//- 							span.radio-text-button-show Show More
		//- 							img.radio-text-button-arrow(src='https://cdn.aglty.io/bluechip-prod-v2/monthly-events/arrow-right.svg')
		//- 		a#prev-ipl-slider-button.control.prev
		//- 		a#next-ipl-slider-button.control.next




		//- libs js
		script(type="text/javascript" src="js/all_libs.js")
		//- js
		script(type="text/javascript" src="js/all_js.js")