include bemto/bemto.pug

//- include partials

//- general
include _pages/general-page.pug
include _partials/header.pug
include _partials/footer.pug
include _partials/main.pug
include _partials/adventure.pug
include _partials/riches.pug
include _partials/howworks.pug
include _partials/trip.pug




doctype html
html
	head
		link(rel="shortcut icon" href="img/fav.png" type="image/png")
		title Blue Chip
		
		//- include style.css
		link(rel="stylesheet" type="text/css" href="css/all_style.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		+header
		+main
		+adventure
		+riches
		+howWorks
		+trip
		+footer




		//- libs js
		script(type="text/javascript" src="js/all_libs.js")
		//- js
		script(type="text/javascript" src="js/all_js.js")