include bemto/bemto.pug
include _partials/card.pug

//- include partials

//- general




doctype html
html
	head
		link(rel="shortcut icon" href="img/fav.png" type="image/png")
		title Blue Chip
		
		//- include style.css
		link(rel="stylesheet" type="text/css" href="css/all_style.css")
		link(rel="preconnect" href="https://fonts.googleapis.com")
		link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
		link(href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&display=swap" rel="stylesheet")
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		+b.advent 
			+b.banner 
			+b.cards-container 
				each val in dataJSON
					+card(val.title, val.day)
					- var data = JSON.stringify(val)
					script.
						var newId = "#{data}"

		


		//- libs js
		script(type="text/javascript" src="js/all_libs.js")
		//- js
		script(type="text/javascript" src="js/all_js.js")