mixin adventure
  +b.SECTION.adventure.content
    +b.adventure-text
      +e.main Let’s see how incredible the adventure was!
      +e.info The big adventure around picturesque India has finished, and thousands of presents have been given. How was it? Saying ‘unbelievable’ is like saying nothing. Just watch how many players participated and got prizes, and you will understand!
    +b.adventure-achieve
