mixin adventure
  +b.SECTION.adventure.content
    +b.adventure-text
      +e.P.main.title Let’s see how incredible 
        SPAN.title.text_rose the adventure was!
      +e.info The big adventure around picturesque India has finished, and thousands of presents have been given. How was it? Saying ‘unbelievable’ is like saying nothing. Just watch how many players participated and got prizes, and you will understand!
    +b.adventure-achieve
      +e.item 
        h3 50K
        p Players took part
      +e.item 
        h3 1.2M
        p FS were given out
      +e.item 
        h3 $118K
        p Total amount of bonus money
      +e.item 
        h3 2
        p Players completed all 46 levels

