mixin balance
  +b.balance-wrap
    +b.balance 
      +e.SELECT.select
        option(data-icon="./img/inr-icon.svg") 400 390 INR
        option(data-icon="./img/dollar-icon.svg") 1200 USD
        option(data-icon="./img/euro-icon.svg") 1000 EUR