mixin footer
  +b.FOOTER.footer.content
    +b.footer-content
      +e.H3.title Share this page with others!
      +b.social
        +e.A(href="#").tg
          IMG(src="img/tg.svg")
        +e.A(href="#").fb
          IMG(src="img/fb.svg")
        +e.A(href="#").yt
          IMG(src="img/yt.svg")        
        +e.A(href="#").tw
          IMG(src="img/tw.svg")        
        +e.A(href="#").ig
          IMG(src="img/ig.svg")
      +e.P.text If you are not among them – don’t get upset too much. There will be a lot of future adventures at BlueChip! Follow our social media, and check the newsletter not to miss the start of your new BIG GAME!          