mixin howWorks
  +b.how-works.content
    +b.how-works-title
      h3 How it #[span.text_rose works?]
    +b.how-works-items
      +b.how-works-item 
        +e.number 01
        +e.IMG(src="img/img-1.svg").image
        +e.text Play your favorite slots for real money bets
      +e.IMG(src="img/arrowtop.svg").delimiter  
      +b.how-works-item 
        +e.number 02
        +e.IMG(src="img/level44.svg").image
        +e.text Play your favorite slots for real money bets  
      +e.IMG(src="img/arrowbottom.svg").delimiter  
      +b.how-works-item 
        +e.number 03
        +e.IMG(src="img/Group 3100.svg").image
        +e.text Play your favorite slots for real money bets       