mixin howWorks
  +b.how-works.content
    +b.how-works-title
      h3.title How it #[span.title.text_rose works?]
    +b.how-works-items
      +b.how-works-item 
        +e.number 01
        +e.IMG(src="img/img-1.svg").image
        +e.text Play your favorite slots for real money bets
      +b.delimiter 
        +e.IMG(src="img/arrowtop.svg").delimiter 
      +b.delimiter-mob.first-del
        +e.IMG(src="img/arrow-mob-first.svg").delimiter          
      +b.how-works-item 
        +e.number 02
        +e.IMG(src="img/img-2.svg").image
        +e.text Get an eligible amount of points – move to the following Level. New Level = New gift.
      +b.delimiter
        +e.IMG(src="img/arrowbottom.svg").delimiter 
      +b.delimiter-mob.second-del
        +e.IMG(src="img/arrow-mob-second.svg").delimiter          
      +b.how-works-item 
        +e.number 03
        +e.IMG(src="img/img-3.svg").image
        +e.text Get main prize of #[span.text_bold €1500 in real money!] 