mixin howWorks
  +b.how-works.content
    +b.how-works-title
      h3.title How it #[span.title.text_rose works?]
    +b.how-works-items
      +b.how-works-item 
        +e.number 01
        +e.IMG(src="img/img-1.svg").image
        +e.text Play your favorite slots for real money bets
      +e.IMG(src="img/arrowtop.svg").delimiter  
      +b.how-works-item 
        +e.number 02
        +e.IMG(src="img/img-2.svg").image
        +e.text Get an eligible amount of points – move to the following Level. New Level = New gift.
      +e.IMG(src="img/arrowbottom.svg").delimiter  
      +b.how-works-item 
        +e.number 03
        +e.IMG(src="img/img-3.svg").image
        +e.text Get main prize of #[span.text_bold €1500 in real money!] 