mixin main
  +b.MAIN.main.content
    +b.main-content
      +e.text
        H1.title_main India Riches Adventure 
          SPAN.title_main.text_rose Finished
      +e.INPUT(type="button" value="Trip to USa").button.button.button_rose
    +b.main-image
      +e.IMG.picture(src='img/ira-img.png')
    +b.control-left.A(href="#").left
      IMG(src="img/arrow-left.svg")
    +b.control-bottom.A(href="#").bottom 
      IMG(src="img/arrow-down.svg")
  