mixin riches
  +b.SECTION.riches.content
    +b.riches-img 
      +e.IMG(src="img/map-img.png")
    +b.riches-content
      +e.H3.title.title Why is the India Riches Adventure #[span.title.text_rose so popular among] our players? 
      +e.text
        p India Riches Adventure a.k.a Level Up event is the way to season up your game with more fun and more winnings.
        p Joining the adventure means getting a lot of joy, when achieving your personal goals, and getting the reward for each stage. And, of course, a step closer to the Main Prize.
        p Level Up event is your chance to get up to €20 000 + 500 FS! 