mixin trip 
  +b.SECTION.trip.content
    +b.trip-container 
      +b.trip-image 
        +e.IMG(src="img/imageUSA.png").img
      +b.trip-content 
        +e.H3.title This event might be over. But the #[span.text_rose.text_bold adventures continue!]
        +e.text
          p We invite you to join our active USA Dream Trip, where you also have a chance to get a lot of gifts, such as €20 000 + 500 FS.
          p See you soon!
        +e.INPUT(type="button" value="Trip to USa").button.button_rose

